body{
  font-size: 14px;
}
a{
  color: #545454;
  text-decoration: none;
}
img{
  max-width: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 24px;
  height: 64px;
  background-color: #F5F5F5;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar-title{
  font-size: 30px;
  font-weight: bold;
}

footer{
  background-color: #E6B938;
  height: 64px;
  padding: 0px 24px;
  display: flex;
  align-items: center;
}


.home-section-header{
  background-color: #F5F5F5;
  height: calc(100vh - 64px);
  display: flex;
}
.home-section-header-left{
  width: 50%;
  display: flex;
  align-items: center;
  padding: 24px;
}
.title-name{
  font-size: 48px;
  font-weight: bold;
  margin: 0;
}
.title-position{
  font-size: 34px;
  font-weight: 400;
}
.home-section-header-right{
  width: 50%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.home-sub-title {
  font-size: 30px;
  border-bottom: 2px solid black;
  display: inline-block;
  margin: 0;
  padding: 0px 20px 10px;
}
.home-section-second{
  padding: 40px 106px;
  text-align: center;
}
.avatar-banner{
  max-height: 90%;
}
.wrapper-steps{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}
.item-step{
  width: 200px;
  border: 1px solid #F3F3F3;
  padding: 25px 25px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  margin: 0px 35px;
  cursor: pointer;
  transition: .3s;

}
.item-step:hover{
  transform: scale(1.05);
  transition: .3s;
}
.bg-img-step{
  background-color: #E6B938;
  padding: 10px;
  border-radius: 50%;
  width: 95px;
  height: 95px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-step{
  width: 54px;
  height: 54px;
}
.item-step-title{
  margin-top: 25px;
  font-size: 16px;
  font-weight: 500;
}
.home-section-third{
  background-color: #F5F5F5;
  padding: 40px;
  text-align: center;
}
.wrapper-covers{
  display: flex;
  flex-wrap: wrap;
  margin: 40px -20px;
}
.img-cover{
  flex-basis: 0;
  flex-grow: 1;
  width: 33%;
  padding: 20px;
  transition: .3s;
  cursor: pointer;
}
.img-cover:hover{
  transform: scale(1.05);
  transition: .3s;
}
.home-section-fourth{
  text-align: center;
  padding: 40px;
}
.wrapper-tools{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  flex-wrap: wrap;
}
.img-tool{
  width: 78px;
  height: 78px;
  margin: 0px 35px;
  flex-basis: 0;
  flex-grow: 1;
  object-fit: contain;
}

footer{
  background-color: #E6B938;
  height: 64px;
  padding: 0px 24px;
  display: flex;
  align-items: center;
}

/* ABOUT */
.about-section-header{
  display: flex;
  padding: 40px 24px;
}
.about-section-left{
  margin-right: 60px;
}
.about-section-right{
  display: flex;
  align-items: center;
}
.bg-avatar-about{
  background-color: #E6B938;
  width: 375px;
  height: 375px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.img-avatar-about{
  width: 420px;
  height: 420px;
}
.about-section-second{
  padding: 40px;
}
.about-section-third{
  padding: 40px;
}
.text-years{
  font-size: 18px;
  color: #797979;
}
.text-title{
  font-size: 20px;
  font-weight: 500;
  margin-top: 4px;
}
.title-description{
  margin-top: 6px;
}
.text-position{
  color: #838383;
  font-weight: bold;
  font-size: 18px;
  margin-top: 4px;
}

@media (max-width: 767px) {
  .home-section-second,.home-section-third,.home-section-fourth{
    padding: 20px;
  }
  .home-sub-title {
    font-size: 20px;
  }
  .home-section-header-left{
    width: 100%;
  }
  .home-section-header-right{
    display: none;
  }
  .wrapper-tools{
    margin-left: -10px;
    margin-right: -10px;
  }
  .img-tool{
    width: 30px;
    height: 30px;
    margin: 0px 10px;
  }
  .wrapper-steps{
    margin-left: -10px;
    margin-right: -10px;
  }
  .item-step{
    width: 100px;
    margin: 0px 10px;
    padding: 15px;
  }
  .item-step-title{
    font-size: 12px;
    margin-top: 8px;
  }
  .bg-img-step{
    width: 60px;
    height: 60px;
  }
  .img-step{
    width: 30px;
    height: 30px;
  }
  footer{
    height: 30px;
  }
  .about-section-header{
    display: block;
  }
  .bg-avatar-about{
    width: 200px;
    height: 200px;
  }
  .img-avatar-about{
    width: 200px;
    height: 200px;
  }
  .title-name{
    font-size: 30px;
  }
  .title-position{
    font-size: 26px;
  }
  .about-section-left{
    margin: 0px 0px 20px;
  }
  .about-section-second,.about-section-third{
    padding: 20px;
  }
}